{% extends 'base.html' %}
{% load static %}
{% block body %}
  <main id="main">
    <section>
      <div class="container">
        <div class="row">
         

          <div class="col-md-9" data-aos="fade-up">
            <h3 class="category-title">Category: {{catnm.cat_name}}</h3>
            {% for post in blogpost %}

            <div class="d-md-flex post-entry-2 half">
              <a href="/singlepost/{{post.blog_id}}" class="me-4 thumbnail">
                <img src="/media/{{post.blog_img}}" alt="" class="img-fluid" style="height: 338px;width: 493px;">
              </a>
              <div>
                <div class="post-meta"><span class="date">{{post.category}}</span> <span class="mx-1">&bullet;</span> <span>{{post.date}}</span></div>
                <h3><a href="/singlepost/{{post.blog_id}}">{{post.title}}</a></h3>
                <p>{{post.blog_desc}}</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="static/assets/img/person-2.jpg" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">{{post.author}}</h3>
                  </div>
                  <hr>
                </div>
              </div>
              
            </div>
            <hr>
            {% endfor %}

            <div class="text-start py-4">
              <div class="custom-pagination">
                <a href="/category/?page=1" class="prev">Prevous</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#" class="next">Next</a>
              </div>
            </div>
          </div> 

          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">

              <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                <!-- <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Popular</button>
                </li> -->
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="true">Trending</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="false">Latest</button>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">
                <!-- Trending -->
                <div class="tab-pane fade show active" id="pills-trending" role="tabpanel" aria-labelledby="pills-trending-tab">
                  
                  {% for trend in trendings %}
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">{{trend.cat}}</span> <span class="mx-1">&bullet;</span> <span>{{trend.date}}</span></div>
                    <h2 class="mb-2"><a href="#">{{trend.title}}</a></h2>
                    <span class="author mb-3 d-block">{{trend.author}}</span>
                  </div>
                  {% endfor %}

                  <div class="aside-block">
                    <h3 class="aside-title">Video</h3>
                    <div class="video-post">
                      <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
                        <span class="bi-play-fill"></span>
                        <img src="static/assets/img/post-landscape-5.jpg" alt="" class="img-fluid">
                      </a>
                    </div>
                  </div><!-- End Video -->
      
                  <div class="aside-block">
                    <h3 class="aside-title">Categories</h3>
                    <ul class="aside-links list-unstyled">
                      {% for post in catName %}
                      <li><a href="/category/{{post.cat_id}}"><i class="bi bi-chevron-right"></i>{{post.cat_name}}</a></li>
                      {% endfor %}
                  </div>
                  

                 
                </div> <!-- End Trending -->

                <!-- Latest -->
                <div class="tab-pane fade" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
                  {% for lst in latest %}
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">{{lst.cat}}</span> <span class="mx-1">&bullet;</span> <span>{{lst.date}}</span></div>
                    <h2 class="mb-2"><a href="#">{{lst.title}}</a></h2>
                    <span class="author mb-3 d-block">{{lst.author}}</span>
                    <hr>
                    {% endfor %}
                </div> <!-- End Latest -->

              </div>
            </div>

            <div class="aside-block">
              <h3 class="aside-title">Video</h3>
              <div class="video-post">
                <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
                  <span class="bi-play-fill"></span>
                  <img src="static/assets/img/post-landscape-5.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Video -->

            <div class="aside-block">
              <h3 class="aside-title">Categories</h3>
              <ul class="aside-links list-unstyled">
                {% for post in catName %}
                <li><a href="/category/{{post.cat_id}}"><i class="bi bi-chevron-right"></i>{{post.cat_name}}</a></li>
                {% endfor %}
            </div>
          </form>
            <!-- <div class="aside-block">
              <h3 class="aside-title">Tags</h3>
              <ul class="aside-tags list-unstyled">
                {% for tag in blogtag %}
                <li><a href="/category/{{tag.tags}}">{{tag.tags}}</a></li>
                {% endfor %}
              </ul>
            </div>End Tags -->

          </div>

        </div>
      </div>
    </section>
  </main><!-- End #main -->

 {% endblock body %}